<div id="loading">
    <div class="kvArea" id="loading_box">
        <div class="img_box">
            <img class="fadeUp" src="https://placehold.jp/30/dd6699/ffffff/300x150.png?text=placeholder+image" alt="image">
        </div>
    </div>
</div>
