<div id="loading">
    <div class="kvArea" id="loading_box">
        <div class="img_box">
            <img src="<%= ROOT %>/img/loading.gif" alt="Loading">
        </div>
        <p class="loading-text">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </p>
    </div>
    <img class="loading-img loading-img--01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="loading-img loading-img--02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
</div>
