<div id="page-top" class="o-page-top">
    <a href="#main">
        <div class="o-page-top__balloon">
            はじめに<br>もどる
        </div>
        <img src="<%= ROOT %>/img/illust/animal_shika_jump.png" alt="animal_shika_jump">
    </a>
</div>
