// 全ての要素をborder-boxにリセット
* {
    box-sizing: border-box;
    text-size-adjust: 100%;
}
html {
    @extend %ffg;
    font-weight: $font-regular;
    font-size: 62.5%; // 10px
    line-height: 1.5;
    color: $color-black;
    background: $color-white;
    -webkit-font-smoothing: antialiased;
}
body {
    @extend %ffg;
    font-weight: $font-regular;
    width: 100%;
    min-width: 100%;
    height: 100%;
    font-size: 1.6rem; // 16px
    position: relative;
    overflow-x: hidden;
    @media #{$media-smp} {
        font-size: 1.4rem;
    }
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
}
a {
    color: $color-black;
    text-decoration: none;
    transition: .3s all ease-in-out;
    &:hover {
        opacity: 0.8;
    }
    &.underline {
        text-decoration: underline;
    }
}
a:hover img {
    opacity: 0.8;
}
