// Color palette
$color-white: #fff;
$color-black: #333;

$color-green: #4b8d71;
$color-cream: #f9f8ee;
$color-darkyellow:#d2b05f;
$color-yellow:#fecf2e;
$color-red:#cc0055;
$color-gray:#eee;
$color-brown: #8c5404;
