<section id="about" class="o-section o-section--blue">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            事業概要
            <span>ABOUT</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>名称</th>
                <td>
                    <span class="bold">ラーニングワーケーションモニターツアー <br class="nobr-pc">陸前高田市<br>
                    漁師町に生きる人々の魅力× 若い力。<br class="nobr-pc">エンパワーメントで復興をデザイン</span>
                </td>
            </tr>
            <tr>
                <th>趣旨</th>
                <td>NPO法人SETと岩手県・陸前高田市が連携し開発中のラーニングワーケーションプログラムに参加。フィードバックをいただき、今後のプログラムづくりに生かします。</td>
            </tr>
            <tr>
                <th>参加対象</th>
                <td>
                    <span class="asterisk">・岩手県外に本社をおく企業・団体にお勤めの方</span>
                    <span class="asterisk">・特に、人材育成、地方創生・CSR/SDGs、総務・経営事業企画部門の方</span>
                </td>
            </tr>
            <tr>
                <th>場所</th>
                <td>岩手県陸前高田市内</td>
            </tr>
            <tr>
                <th>実施時期</th>
                <td>
                    11月22日（月）オンライン事前研修<br>
                    2021年12月1日（水）〜 4日（土）現地研修<br>
                    2021年12月20日（月）、2022年1月17日（月）オンライン事後研修
                </td>
            </tr>
            <tr>
                <th>特典</th>
                <td>
                    <span class="accent">モニターツアーにつきプログラム参加費無料！</span><br>
                    （宿泊費、教材費、記念グッズを含みます）
                </td>
            </tr>
        </table>
    </div>
</section>
