<section id="about" class="o-section o-section--green o-illust">
    <img class="o-illust__deer o-illust__deer03" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer04" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            事業概要
            <span>ABOUT</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>名称</th>
                <td>
                    <span class="bold">ラーニングワーケーションモニターツアー <br class="nobr-pc">住田町
                </td>
            </tr>
            <tr>
                <th>趣旨</th>
                <td>おとりもちと、岩⼿県・住⽥町が連携し開発中のラーニングワーケーションプログラムに参加。フィードバックをいただき、今後のプログラムづくりに⽣かします。</td>
            </tr>
            <tr>
                <th>参加対象</th>
                <td>
                    <span class="asterisk">・岩⼿県外に本社をおく企業・団体にお勤めの⽅</span>
                    <span class="asterisk">・特に、⼈材育成、地⽅創⽣・CSR/SDGs、総務・経営事業企画部⾨の⽅</span>
                </td>
            </tr>
            <tr>
                <th>場所</th>
                <td>岩手県気仙郡住田町内</td>
            </tr>
            <tr>
                <th>実施時期</th>
                <td>
                    2021年12月6日（月） 16時～18時 <br class="nobr-pc">オンライン事前研修<br><br class="nobr-pc">
                    2021年12月15日（水）～18日（土） <br class="nobr-pc">現地研修<br><br class="nobr-pc">
                    2022年1月7日（金） 16時～18時 <br class="nobr-pc">オンライン事後研修
                </td>
            </tr>
            <tr>
                <th>特典</th>
                <td>
                    <span class="accent">モニターツアーにつきプログラム参加費無料！</span><br>
                    （宿泊費、教材費、オリジナル記念グッズを含みます）
                </td>
            </tr>
        </table>
    </div>
</section>
