<section id="about" class="o-section o-section--green">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            事業概要
            <span>ABOUT</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>名称</th>
                <td>
                    <span class="bold">ラーニングワーケーションモニターツアー <br class="nobr-pc">住田町
                </td>
            </tr>
            <tr>
                <th>趣旨</th>
                <td>JMAMと行政・地方自治体・地域団体等が連携し、開発中のラーニングワーケーションプログラムに参加。フィードバックをいただき、今後のプログラムづくりに生かします。</td>
            </tr>
            <tr>
                <th>参加対象</th>
                <td>
                    対象圏外に本社をおく法人の人材育成担当者・意思決定者等（人事・地方創生・CSR・SDGs等・総務・経営企画・関係事業部門）数名
                </td>
            </tr>
            <tr>
                <th>場所</th>
                <td>岩手県気仙郡住田町内</td>
            </tr>
            <tr>
                <th>実施時期</th>
                <td>
                    2021年12月6日16時～18時 オンライン事前研修<br>
                    2021年12月15日～18日 現地研修<br>
                    2022年1月7日16時～18時 オンライン事後研修
                </td>
            </tr>
            <tr>
                <th>特典</th>
                <td>
                    <span class="accent">50年後の森　（植田さん）</span>
                </td>
            </tr>
        </table>
    </div>
</section>
