<section id="venue" class="o-section o-section--cream c-top__venue">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            モニターツアー<br>開催地について
            <span>VENUE</span>
        </h2>
        <h3 class="o-subtitle o-subtitle--black js-fadein">住田町とは？</h3>
        <p class="c-top__common-text js-fadein">
            東京から新幹線で最寄（⽔沢江刺）駅まで約2.5時間。そこから⾞で約50分。遠野、釡⽯、陸前⾼⽥、⼤船渡、奥州に⾯した、内陸の町。⾯積約335㎢。⾯積の9割を森林が占める。平安時代、⾦⼭をはじめ養蚕や製鉄で栄えた。<br>
            岩⼿県の⼤部分は南部藩だが、県南部は伊達藩に属し、住⽥町はその北端。今も「五葉⼭⽕縄銃鉄砲隊」が残る。三陸ジオパークにも指定されている「栗⽊鉄⼭跡」は、国史跡の答申を受けた。
        </p>
        <p class="c-top__common-text js-fadein">
            岩⼿県の内陸と沿岸を結ぶ宿場町として栄え、昭和30年代には⼈⼝12,000⼈を記録したこともあるが、現在の⼈⼝は約5,000⼈(2021年6⽉末現在)で、⼈⼝より⿅の数が多い（五葉⼭地域だけで7,400〜11,100頭）。⾼齢化率40％以上となっている。
        </p>
        <div class="c-top__venue-flex js-fadein">
            <ul>
                <li>
                    <img src="http://placehold.jp/24/cccccc/ffffff/350x200.png?text=placehold.jp">
                </li>
                <li>
                    <img src="http://placehold.jp/24/cccccc/ffffff/350x200.png?text=placehold.jp">
                </li>
                <li>
                    <img src="http://placehold.jp/24/cccccc/ffffff/350x200.png?text=placehold.jp">
                </li>
                <li>
                    <img src="http://placehold.jp/24/cccccc/ffffff/350x200.png?text=placehold.jp">
                </li>
            </ul>
            <div class="image">
                <img src="<%= ROOT %>/img/venue/iwate.png" alt="iwate">
            </div>
        </div>
        <h4 class="js-fadein">東京方面からの交通アクセス</h4>
        <div class="c-top__venue-access js-fadein">
            <div class="box left">東京駅</div>
            <p class="text01">東北新幹線 約2時間30分</p>
            <div class="box center">水沢江刺駅</div>
            <p class="text02">
                車で約50分
            </p>
            <div class="box right">住田町</div>
        </div>
    </div>
</section>
