<section id="overview" class="o-section o-section--cream c-top__overview">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            モニターツアーの概要
            <span>OVERVIEW</span>
        </h2>
        <div class="c-top__overview-block">
            <h3 class="o-subtitle js-fadein">コンセプト</h3>
            <p class="c-top__common-text js-fadein">
                森林に囲まれた⼈⼝5000⼈の街で、地域の⼈々との<span>「つながり」</span>によって“役にたっている”という実感が⽣まれ、⾃分の<span>「存在意義」</span>を再発⾒し、ビジネスパーソンとして歩んでいく<span>「⼈⽣の⽕種」</span>が灯る。
            </p>
        </div>
        <div class="c-top__overview-block">
            <h3 class="o-subtitle js-fadein">対象者のイメージ</h3>
            <p class="c-top__common-text js-fadein">
                主に、⼊社5年⽬ほどの若⼿のビジネスパーソン。⼊社時は前向きで⾃発的な成⻑意欲もあったが、⽉⽇が経過する中で、⽇々の仕事に慣れてしまっている。<br>
                何かをすべきとは思っているが、何をすべきなのかが⾒えていない。<br>
                しかし、内⾯では「⾃分はもう少しやれるんじゃないか」「本当は何かを動かしたい」といった成⻑意欲を持っている。
            </p>
        </div>
        <div class="c-top__overview-block">
            <h3 class="o-subtitle js-fadein">モニターツアーの概要</h3>
            <p class="c-top__common-text js-fadein">
                決して恵まれているとは⾔えない環境の中で、地域住⺠同⼠の⼤切にしている交流や、⽇々をていねいに暮らす営みを体験し、「つながることの⼤切さ」を実感する。<br>
                また、東⽇本⼤震災のときに、都市部からボランティアで来訪した⽅を受け⼊れ、⼀⼈ひとりの「できること」を⽣かしていくことで町づくりをしてきた中で、今度は参加者が地域住⺠に「できること」を共有することで、「存在意義」を育む。<br>
                さらに、⾼齢化が進み、森林が9割という環境の中でも、「森林・林業⽇本⼀の町づくり」を⽬指し、林業の最先端を進む「さま」に触れることで、参加者の中に眠る「⽣きる⽕種」が灯る。
            </p>
        </div>
    </div>
</section>
