<section id="learning" class="o-section o-section--white">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            学べること・得られること
            <span>LEARNING</span>
        </h2>
        <div class="c-top__common-image js-fadein">
            <picture>
                <source media="(max-width:599px)" srcset="<%= ROOT %>/img/learning/contents_sp.png">
                <img src="<%= ROOT %>/img/learning/contents_pc.png" alt="image">
            </picture>
        </div>
    </div>
</section>
