<section id="support" class="o-section o-section--blue c-top__support">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            サポートメンバー「SET」について
            <span>SUPPORT</span>
        </h2>
        <h3 class="o-subtitle o-subtitle--white js-fadein">サポートメンバー：特定非営利活動法人SET</h3>
        <p class="c-top__common-text js-fadein">
            震災ボランティア活動がきっかけで広田町に移住した若者が中心となり、町の方たちとともに「まちづくり」と「ひとづくり」に取り組んでいる団体が、 特定非営利活動法人 SETです。<br>
            就活をして企業などに就職するという選択肢が一般的な現代の若者がなぜ、岩手県の漁師町に移住することを選んだのでしょうか。そして、現在、どのような思いをもってまちづくりと人づくりに取り組んでいるのでしょうか。
        </p>
        <div class="c-top__support-flex js-fadein">
            <div class="left">
                <p>本モニターツアーでは、事前研修、現地研修、事後研修を通じてSET のメンバーがサポートいたします。</p>
                <p>SET がこれまでの活動で培ったノウハウを投入しながら、参加者の皆様とともに、地域の課題と企業の課題、そして多様な人たちの巻き込みやリーダーシップのあり方などについて、固定観念や思考の枠組みを超えて考えていきます。</p>
                <p>そのうえで、実際の行動につなげるためのアクションプランの作成につなげていければと考えています。</p>
                <p>ぜひとも、皆様のご参加をお待ちしています。</p>
            </div>
            <div class="right">
                <img src="<%= ROOT %>/img/support/image.png" alt="SET">
            </div>
        </div>
    </div>
</section>
