<section id="learning" class="o-section o-section--green">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            学べること・得られること
            <span>LEARNING</span>
        </h2>

    </div>
</section>
