<section id="overall" class="o-section o-section--cream c-top__overall">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            モニターツアーの全体像
            <span>OVERALL</span>
        </h2>
        <div class="c-top__overall-flex js-fadein">
            <div class="box box--left">
                <h4>事前の学び</h4>
                <div class="period period--01">2022年6月29日</div>
                <ul>
                    <li>
                        オンライン事前研修
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--center">
                <h4>住田町での学び</h4>
                <div class="period period--02">2022年7月5日～8日</div>
                <ul>
                    <li>
                        <span class="bold">1日目<span class="green">【つながる】</span></span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    ⽔沢江刺駅集合 12:30<br>
                                    移動
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="green">【オリエンテーション】</span> 14:00<br>
                                    ・東⽇本⼤震災を知る<br>
                                    ・住⽥町の震災時の対応を知る<br>
                                    ・仮設住宅、⽀援基地視察
                                </td>
                            </tr>
                            <tr>
                                <th>〈夜〉</th>
                                <td>
                                    <span class="green">【まちや世⽥⽶駅】</span><br>
                                    ・テレワーク<br>
                                    ・地元の⽅とご飯会
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">2日目<span class="green">【存在意義を感じる】</span></span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    <span class="green">【吉⽥樹苗】</span><br>
                                    ・⼭林⾒学／吉⽥正平さん講話
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="green">【下有住地区公⺠館】</span><br>
                                    ・⾦野館⻑講演<br>
                                    <span class="green">【まちや世⽥⽶駅】</span><br>
                                    ・住⽥⾼校授業準備
                                </td>
                            </tr>
                            <tr>
                                <th>〈夜〉</th>
                                <td>
                                    ・参加者同⼠の交流会
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">3日目<span class="green">【⼈⽣の⽕種を灯す】</span></span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    <span class="green">【まちや世⽥⽶駅】</span><br>
                                    ・授業準備
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="green">【住⽥⾼校】</span><br>
                                    ・住⽥⾼校出前授業本番<br>
                                    <span class="green">【まちや世⽥⽶駅】</span><br>
                                    ・蕎⻨打ち体験<br>
                                    ・全体振り返り
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    　住⽥町出発15:30 →⽔沢江刺駅解散
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">4日目 ＊オプション⽇程なので3⽇⽬で切り上げ可能</span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    <span class="green">【住田町内】</span><br>
                                    ・商店街散策<br>
                                    ・松日橋見学<br>
                                    　移動 11:00
                                </td>
                            </tr>
                            <tr>
                                <th>〈昼〉</th>
                                <td>
                                    <span class="green">【道の駅ぽらん】</span><br>
                                    ・昼⾷
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    ⽔沢江刺駅解散 13:30
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--right">
                <h4>事後の学び</h4>
                <div class="period period--03">2022年7月27日</div>
                <ul>
                    <li>
                        オンライン事後研修
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
