<section id="overall" class="o-section o-section--white c-top__overall">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            モニターツアーの全体像
            <span>OVERALL</span>
        </h2>
        <div class="c-top__overall-flex js-fadein">
            <div class="box box--left">
                <h4>事前の学び</h4>
                <div class="period period--01">2021年11月</div>
                <ul>
                    <li>
                        オンライン事前研修<br>
                        <span class="bold">11/22（月）</span><br>
                        <span class="orange">16:00-18:00</span>
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--center">
                <h4>陸前高田での学び</h4>
                <div class="period period--02">12月1（水）～ 12月4日（土）</div>
                <ul>
                    <li>
                        <span class="bold">12/1（水）</span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>移動（陸前⾼⽥市街地で昼⾷）</td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="orange">【震災・町を知る】</span>・震災遺構の視察<br>
                                    <span class="orange">【町・町の⼈を知る】</span>・町⺠フィールドワーク
                                </td>
                            </tr>
                            <tr>
                                <th>〈夜〉</th>
                                <td>【交流会】SETメンバーと交流</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">12/2（木））</span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    地元の方の家で朝食、テレワーク<br>
                                    <span class="orange">【設定課題を深掘る】</span>・目的を深める対話
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    広田町内にて昼食<br>
                                    <span class="orange">【町・町の⼈を知る】</span>・町⺠フィールドワーク<br>
                                    <span class="orange">【アクション準備】</span>・企画設計会議等
                                </td>
                            </tr>
                            <tr>
                                <th>〈夜〉</th>
                                <td>【交流会】地元の方とご飯会</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">12/3（金）</span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    地元の方の家で朝食、テレワーク<br>
                                    <span class="orange">【アクション準備】</span>・企画設計会議等
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    SETのナチュラルフードコーディネーターによる昼食<br>
                                    <span class="orange">【最終アクション実施】</span>
                                </td>
                            </tr>
                            <tr>
                                <th>〈夜〉</th>
                                <td>
                                    黒崎仙峡温泉<br>
                                    【交流会】SETメンバーと交流
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">12/4（土）</span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    地元の方の家で朝食<br>
                                    <span class="orange">【振り返り】</span>・事実と感情を振り返る
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    コミュニティカフェ彩葉にて昼食<br>
                                    <span class="orange">【研修のまとめ】</span>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--right">
                <h4>事後の学び</h4>
                <div class="period period--03">12月～2022年1月</div>
                <ul>
                    <li>
                        オンライン事後研修①<br>
                        <span class="bold">12/20（月）</span><br>
                        <span class="orange">16:00-18:00</span>
                    </li>
                    <li>
                        オンライン事後研修②<br>
                        <span class="bold">2022年1/17（月）</span><br>
                        <span class="orange">16:00-18:00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
