<section id="overall" class="o-section o-section--cream c-top__overall">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            モニターツアーの全体像
            <span>OVERALL</span>
        </h2>
        <div class="c-top__overall-flex js-fadein">
            <div class="box box--left">
                <h4>事前の学び</h4>
                <div class="period period--01">2021年12月6日（月）</div>
                <ul>
                    <li>
                        オンライン事前研修
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--center">
                <h4>住田町での学び</h4>
                <div class="period period--02">12月15日（水）～ 12月18日（土）</div>
                <ul>
                    <li>
                        <span class="bold">1日目<span class="green">【つながる】</span></span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    ⽔沢江刺駅集合 12:30<br>
                                    移動
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="green">【オリエンテーション】</span> 14:00<br>
                                    ・住田町を知る<br>
                                    ・震災時の対応<br>
                                    ・仮設住宅視察
                                </td>
                            </tr>
                            <tr>
                                <th>〈夜〉</th>
                                <td>
                                    <span class="green">【大股地区交流会】</span><br>
                                    ・地元の⽅とご飯会
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">2日目<span class="green">【存在意義を感じる】</span></span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    <span class="green">【吉⽥樹苗】</span><br>
                                    ・山見学
                                </td>
                            </tr>
                            <tr>
                                <th>〈昼〉</th>
                                <td>
                                    <span class="green">【下有住地区公⺠館】</span><br>
                                    ・そば打ち体験<br>
                                    ・⾦野館長講演
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="green">【吉⽥樹苗】</span><br>
                                    ・吉田正平さん講演
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">3日目<span class="green">【⼈⽣の⽕種を灯す】</span></span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    <span class="green">【まちや世⽥⽶駅】</span><br>
                                    ・テレワーク<br>
                                    ・プレゼン準備
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    <span class="green">【出前授業】</span><br>
                                    ・住⽥⾼校で生徒との交流<br>
                                    <span class="green">【ふりかえり】</span>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <span class="bold">4日目</span>
                        <table>
                            <tr>
                                <th>〈午前〉</th>
                                <td>
                                    <span class="green">【仮設住宅】</span><br>
                                    ・⾒学<br>
                                    ・松日橋見学
                                </td>
                            </tr>
                            <tr>
                                <th>〈午後〉</th>
                                <td>
                                    移動 11:00<br>
                                    ⽔沢江刺駅解散 13:30
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--right">
                <h4>事後の学び</h4>
                <div class="period period--03">2022年1月7日（金）</div>
                <ul>
                    <li>
                        オンライン事後研修
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
