<section id="contents" class="o-section o-section--green c-top__contents">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            事前／事後研修の内容
            <span>CONTENTS</span>
        </h2>
        <div class="c-top__contents-block js-fadein">
            <h3 class="o-subtitle o-subtitle--white">オンライン<span class="red">事前</span>研修の内容</h3>
            <table class="o-table">
                <tr>
                    <th>実施目的</th>
                    <td>つながりをつくる</td>
                </tr>
                <tr>
                    <th>実施日時</th>
                    <td>2021年12⽉6⽇16時〜18時</td>
                </tr>
                <tr>
                    <th>実施内容</th>
                    <td>
                        オリエンテーション・⾃⼰紹介・プログラム概要<br>
                        越境学習について<br>
                        事前インプット<br>
                        <span class="asterisk">・旅の概要・⽬的・⾏程の説明</span>
                        <span class="asterisk">・住⽥町の紹介</span>
                    </td>
                </tr>
                <tr>
                    <th>実施形式</th>
                    <td>Zoomを使⽤してのオンライン</td>
                </tr>
            </table>
        </div>
        <div class="c-top__contents-block js-fadein">
            <h3 class="o-subtitle o-subtitle--white">オンライン<span class="yellow">事後</span>研修の内容</h3>
            <table class="o-table">
                <tr>
                    <th>実施目的</th>
                    <td>⽕種を灯す</td>
                </tr>
                <tr>
                    <th>所要日時</th>
                    <td>2022年1⽉7⽇16時〜18時</td>
                </tr>
                <tr>
                    <th>実施内容</th>
                    <td>
                        <span class="asterisk">・住⽥町での体験の振り返り</span>
                        <span class="asterisk">・意⾒交換</span>
                        <span class="asterisk">・⽇常に戻ってからの⼼境の変化</span>
                        <span class="asterisk">・住⽥町の魅⼒、ツアー改善点のフィードバック</span>
                    </td>
                </tr>
                <tr>
                    <th>実施形式</th>
                    <td>Zoomを使⽤してのオンライン</td>
                </tr>
            </table>
        </div>
    </div>
</section>
