<section id="contents" class="o-section o-section--blue c-top__contents">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            事前／事後研修の内容
            <span>CONTENTS</span>
        </h2>
        <div class="c-top__contents-block js-fadein">
            <h3 class="o-subtitle o-subtitle--white">オンライン<span class="red">事前</span>研修の内容</h3>
            <table class="o-table">
                <tr>
                    <th>実施目的</th>
                    <td>
                        (1)自己理解の探求<br>
                        <span class="asterisk">・「自分の創り出したい社会（企業・ひと）の⾔語化」</span>
                        <span class="asterisk">・「here（企業）の課題と、there（広田町）の課題のすり合わせ</span>
                        (2)自己理解と地域課題や魅⼒の結びつけ
                    </td>
                </tr>
                <tr>
                    <th>所要時間</th>
                    <td>120分</td>
                </tr>
                <tr>
                    <th>実施内容</th>
                    <td>
                        <span class="asterisk">①MV2GROWの作成</span>
                        <span class="asterisk">②興味ある地域課題や魅⼒・社会課題や魅⼒をブレインストーミング</span>
                        <span class="asterisk">③課題や魅⼒に対してなぜ興味あるのか背景をコーチング的に深掘り</span>
                        <span class="asterisk">④インテグレーションの枠組みを使い、⾃らが⽬指したい社会と解決したい地域課題やより活かしたい魅⼒を結びつける</span>
                    </td>
                </tr>
                <tr>
                    <th>実施形式</th>
                    <td>Zoomを使⽤してのオンライン</td>
                </tr>
            </table>
        </div>
        <div class="c-top__contents-block js-fadein">
            <h3 class="o-subtitle o-subtitle--white">オンライン<span class="blue">事後</span>研修の内容</h3>
            <table class="o-table">
                <tr>
                    <th>実施目的</th>
                    <td>
                        <span class="asterisk">⑴プログラムで気づいた学びを日常の業務に生かす</span>
                        <span class="asterisk">⑵アクションプラン作成</span>
                    </td>
                </tr>
                <tr>
                    <th>所要時間</th>
                    <td>120分（全2回実施予定）</td>
                </tr>
                <tr>
                    <th>実施内容</th>
                    <td>
                        <span class="asterisk">①⽇常での MV2GROW に基づいたアクション出し</span>
                        <span class="asterisk">②MV2GROW の更新</span>
                        <span class="asterisk">③SET流思考術により、アクションプラン作成</span>
                    </td>
                </tr>
                <tr>
                    <th>実施形式</th>
                    <td>Zoomを使⽤してのオンライン</td>
                </tr>
            </table>
        </div>
    </div>
</section>
