<section id="place" class="o-section o-section--cream c-top__place">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            学びの場所
            <span>PLACE</span>
        </h2>

    </div>
</section>
