<section id="method" class="o-section o-section--blue c-top__method">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            研修フレームワーク：<br>「SET流思考法」
            <span>METHOD</span>
        </h2>
        <div class="c-top__method-image js-fadein">
            <img src="<%= ROOT %>/img/method/contents.png" alt="image">
        </div>
    </div>
</section>
