<section id="hub" class="o-section o-section--cream c-top__hub">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            拠点
            <span>HUB</span>
        </h2>
        <div class="c-top__hub-block js-fadein">
            <h3 class="o-subtitle">宿泊場所</h3>
            <div class="o-shadow c-top__hub-flex">
                <div class="left">
                    <img src="<%= ROOT %>/img/hub/image01.png" alt="宿泊場所">
                </div>
                <div class="right">
                    <h4>高橋旅館</h4>
                    <p>
                        世田米商店街の中央に位置する旅館。<br>
                        チェックイン後の門限はなく、夜は自動ドアを手動で開けて入ります。<br>
                        同じ建物内で葬儀を行うことがあり、入り口前に花が飾られていると、葬儀が行われる目印です。ご了承下さい。
                    </p>
                </div>
            </div>
        </div>
        <div class="c-top__hub-block js-fadein">
            <h3 class="o-subtitle">仕事場所</h3>
            <div class="o-shadow c-top__hub-flex c-top__hub-flex--reverse">
                <div class="left">
                    <img src="<%= ROOT %>/img/hub/image02.png" alt="仕事場所">
                </div>
                <div class="right">
                    <h4>まち家世田米駅</h4>
                    <p>
                        明治時代からある蔵を有し、古民家を改修した住民交流拠点施設です。<br>
                        全館FreeWi-Fiが完備されていて、1杯150円〜コーヒー等を飲むことが出来ます。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
