<section id="hub" class="o-section o-section--blue c-top__hub">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            拠点
            <span>HUB</span>
        </h2>
        <div class="c-top__hub-block js-fadein">
            <h3 class="o-subtitle o-subtitle--white">宿泊場所</h3>
            <div class="o-shadow c-top__hub-flex">
                <div class="left">
                    <img src="<%= ROOT %>/img/hub/image01.png" alt="宿泊場所">
                </div>
                <div class="right">
                    <p>陸前高田市内のホテル、民宿などの宿泊施設にてご宿泊いただきます。(個室)</p>
                </div>
            </div>
        </div>
        <div class="c-top__hub-block js-fadein">
            <h3 class="o-subtitle o-subtitle--white">仕事場所</h3>
            <div class="o-shadow c-top__hub-flex c-top__hub-flex--reverse">
                <div class="left">
                    <img src="<%= ROOT %>/img/hub/image02.png" alt="仕事場所">
                </div>
                <div class="right">
                    <p>広田町にある空き家をワーケーション用施設としてリノベーションした「ぴいろたハウス」を、テレワークの時間はご提供いたします。</p>
                </div>
            </div>
        </div>
    </div>
</section>
