<section id="about" class="o-section o-section--green c-top__about">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            About JMAM <br>Learning Workation
            <span>ABOUT</span>
        </h2>

    </div>
</section>
