<section id="apply" class="o-section o-section--green o-illust">
    <img class="o-illust__deer o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            実施概要・申し込み方法
            <span>APPLY</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>定員</th>
                <td>
                    <span class="accent">15名　最低催⾏：4⼈</span>
                </td>
            </tr>
            <tr>
                <th>日程</th>
                <td>
                    2022年6⽉29⽇16時〜18時 オンライン事前研修<br>
                    2022年7⽉5⽇〜8⽇3泊4⽇ 現地研修<br>
                    2022年7⽉27⽇16時〜18時 オンライン事後研修
                </td>
            </tr>
            <tr>
                <th>料金</th>
                <td>
                    198,000円（税込、旅費・域内移動費、宿泊費・⾷事代・保険料は別途）<br>
                    <span class="asterisk">・料⾦内に含まれるものは、プログラム参加費(教材等込)となります。</span>
                    <span class="asterisk">・東北新幹線「⽔沢江刺駅」までの往復移動費は、各⾃ご負担となります。</span>
                    <span class="asterisk">・期間中の宿泊費・域内移動費・⾷事代、保険等は、別途負担となります。</span>
                </td>
            </tr>
            <tr>
                <th>応募締切</th>
                <td>
                    <span class="accent">募集締め切りは6⽉22⽇（⽔）です。</span><br>
                    <span class="asterisk accent">※参加条件に基づき選考結果を6⽉24⽇（⾦）までにご連絡いたします</span>
                </td>
            </tr>
            <tr>
                <th>お申し込み・お問い合わせ先</th>
                <td>
                    <span class="accent">以下の申し込みリンクからお申し込みください。</span><br>
                    <div class="o-table__contact">
                        <h3>日本能率協会マネジメントセンター越境ラーニング事業部</h3>
                        <p>＜ラーニングワーケーションサイト＞ <a href="https://hatarakikata.design/" target="_blank">https://hatarakikata.design/</a></p>
                        <p>＜Webサイトからのお問合せ＞ <a href="https://hatarakikata.design/global_contact/" target="_blank">https://hatarakikata.design/global_contact/</a></p>
                        <p>＜メールでのお問合せ＞ <a href="mailto:workation&#64;jmam.co.jp?subject=ラーニングワーケーション＠岩⼿－住⽥町について" target="_blank">workation@jmam.co.jp</a></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
