<section id="apply" class="o-section o-section--green o-illust">
    <img class="o-illust__deer o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            実施概要・申し込み方法
            <span>APPLY</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>日程</th>
                <td>
                    <span class="bold">2021年12月15日（水）〜 18日（土）</span>
                </td>
            </tr>
            <tr>
                <th>募集人数</th>
                <td>10名</td>
            </tr>
            <tr>
                <th>料金</th>
                <td>
                    <span class="accent">
                        3泊4日プログラム費用 <br class="nobr-pc">132,000円（税込）／ 1名様<br>
                        （モニターツアーにつきプログラム参加費無料！）
                    </span><br><br>
                    <span class="asterisk">・東北新幹線「⽔沢江刺駅」までの往復移動費は、各⾃ご負担となります。</span>
                    <span class="asterisk">・催⾏中の写真画像等は、今後のツアー募集時の素材として利⽤させていただきます。</span><br>
                    ＜料金内に含まれるもの＞<br>
                    プログラム参加費・水沢江刺駅から住⽥町内往復移動費・住⽥町内での移動費・ガイド料⾦および保険料
                </td>
            </tr>
            <tr>
                <th>参加資格</th>
                <td>
                    <span class="asterisk">・岩⼿県外に本社を置く企業・団体にお勤めの⽅、その他形態で現在就業中の⽅（年齢不問）</span>
                    <span class="asterisk">・ツアー参加後のアンケートやレポート提出にご協⼒いただける⽅</span>
                    <span class="asterisk">・ツアー中の画像及びアンケート等データを広告素材に利⽤させていただける⽅</span>
                    <span class="asterisk">※アンケートやレポート等の内容は、個⼈情報が特定できない範囲内で今後のツアー募集時に素材利⽤させていただきます。</span>
                    <span class="asterisk">※お申し込み時に頂戴いたしました個⼈情報は、本ツアー受付に際しての利⽤のほか、今後の岩手県におけるワーケーションツアー情報を個別にご連絡差し上げる場合にも利⽤させていただくことがあります。</span>
                </td>
            </tr>
            <tr>
                <th>応募締切</th>
                <td>
                    <span class="accent">募集締め切りは11⽉19⽇（⾦）です。</span><br>
                    <span class="asterisk accent">※参加条件に基づき選考結果を11⽉22⽇（⽉）までにご連絡いたします</span>
                </td>
            </tr>
            <tr>
                <th>お申し込みの流れ</th>
                <td>
                    お申し込み後、予約確定のご連絡をいたします。<br>
                    <span class="asterisk">※自然災害等やむを得ない事由により万一当ツアーの催行ができない場合がございます。</span>
                    <span class="asterisk">※コロナウイルス感染症の状況を鑑みて中止・延期等の判断をします。</span>
                    <span class="asterisk">※お申し込み後のお客様御都合でのキャンセルは、ツアー催行21日前にあたる<span class="accent">11月24日（水）</span>までにご連絡ください。</span>
                </td>
            </tr>
            <tr>
                <th>実施概要PDF</th>
                <td>
                    <a href="<%= ROOT %>/pdf/Learning_Workation_SUMITA.pdf" target="_blank">PDFダウンロード</a>
                </td>
            </tr>
            <tr>
                <th>お申し込み・お問い合わせ先</th>
                <td>
                    <a href="https://forms.gle/UFviibE1FA8y9gqZ8" target="_blank">お申し込みはこちら</a>
                </td>
            </tr>
        </table>
    </div>
</section>
