<section id="apply" class="o-section o-section--white">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            実施概要・申込方法
            <span>APPLY</span>
        </h2>
        <table class="o-table o-table--gray js-fadein">
            <tr>
                <th>日程</th>
                <td>
                    <span class="bold">2021年12月1日（水）〜 4日（土）</span>
                </td>
            </tr>
            <tr>
                <th>募集人数</th>
                <td>定員10名</td>
            </tr>
            <tr>
                <th>料金</th>
                <td>
                    <span class="accent">
                        3泊4日プログラム費用 <br class="nobr-pc">000,000円（税込）／ 1名様<br>
                        （モニターツアーにつきプログラム参加費無料！）
                    </span><br><br>
                    <span class="asterisk">・東北新幹線「一ノ関」までの往復移動費は、各自ご負担となります。</span>
                    <span class="asterisk">・催行中の写真画像等は、今後のツアー募集時の素材として利用させていただきます。</span>
                    <span class="asterisk">・オプション体験ツアーをご希望の場合は別途追加料金が必要となります。</span><br>
                    ＜料金内に含まれるもの＞<br>
                    プログラム参加費・一関駅から陸前高田市内往復移動費・陸前高田市内での移動費・ガイド料金および保険料
                </td>
            </tr>
            <tr>
                <th>参加資格</th>
                <td>
                    <span class="asterisk">・岩手県外に本社を置く企業・団体にお勤めの方、その他形態で現在就業中の方（年齢不問）</span>
                    <span class="asterisk">・ツアー参加後のアンケートやレポート提出にご協力いただける方</span>
                    <span class="asterisk">・ツアー中の画像及びアンケート等データを広告素材に利用させていただける方</span>
                    <span class="asterisk">※アンケートやレポート等の内容は、個人情報が特定できない範囲内で今後のツアー募集時に素材利用させていただきます。</span>
                    <span class="asterisk">※お申し込み時に頂戴いたしました個人情報は、本ツアー受付に際しての利用のほか、今後のワーケーションツアー情報を個別にご連絡差し上げる場合にも利用させていただくことがあります。</span>
                </td>
            </tr>
            <tr>
                <th>応募締切</th>
                <td>
                    <span class="accent">募集締め切りは11月5日（金）です。</span><br>
                    <span class="asterisk">※参加条件に基づき選考結果を11月8日（月）までにご連絡いたします。</span>
                </td>
            </tr>
            <tr>
                <th>お申込の流れ</th>
                <td>
                    お申し込み後、予約確定のご連絡をいたします。追加でのオプションツアー等参加料金などがある場合には、予約確定メールにお振込み先口座をお知らせいたしますので、協会が指定する日時までに指定口座にご入金ください。<br><br>
                    <span class="asterisk">※自然災害等やむを得ない事由により万一当ツアーの催行ができない場合、オプションツアー代金など事前ご入金分の代金がある場合には、全額ご返金致します。</span>
                    <span class="asterisk">※コロナウイルス感染症の状況を鑑みて中止・延期等の判断をします。</span>
                    <span class="asterisk">※お申し込み後のお客様御都合でのキャンセルは、ツアー催行21日前にあたる<span class="accent">●月●日（●）</span>までにご連絡ください。</span>
                    <span class="asterisk">※これ以降のキャンセルの場合、オプションツアー部分には手配取消料が発生いたします。予めご了承ください。</span>
                </td>
            </tr>
            <tr>
                <th>お支払方法</th>
                <td>
                    オプションツアー代金は下記いずれかにお振込みください。<br>
                    お申し出がございましたら当日の現金もしくはクレジットカード払い、電子決済等でのお支払いも
                    可能です。<br><br>
                    ＜振込先＞<br>
                    <span class="asterisk">※金融機関名入る金融機関名入る金融機関名入る金融機関名入る金融機関名入る金融機関名入る金金融機関名入る融機関名入る</span>
                </td>
            </tr>
            <tr>
                <th>お申込み・お問い合わせ先</th>
                <td>
                    <a href="" target="_blank">お申込みはこちら</a>
                </td>
            </tr>
        </table>
    </div>
</section>
