<section id="program" class="o-section o-section--cream c-top__program">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            越境学習「地域資源学習型」<br class="nobr-pc">プログラムご紹介
            <span>PROGRAM</span>
        </h2>
        <div class="c-top__program-flex js-fadein">
            <div class="left">
                <h3>人口5000人の森林の町でキャリア自律の火種を灯す</h3>
            </div>
            <div class="right">
                <p>事前：6/29(16:00〜18:00)⇒現地：7/5～8⇒事後：7/27(16:00〜18:00)</p>
            </div>
        </div>
        <div class="c-top__program-images js-fadein"></div>
        <div class="c-top__program-iframe js-fadein">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4KNs3hABKPE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
