<section id="about" class="o-section o-section--green o-illust s-about">
    <img class="o-illust__deer o-illust__deer03" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer04" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            事業概要
            <span>ABOUT</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>名称</th>
                <td>
                    <span class="bold">ラーニングワーケーション＠岩⼿－住⽥町
                </td>
            </tr>
            <tr>
                <th>趣旨</th>
                <td>
                    越境学習「地域資源学習型」プログラム<br>
                    ⼈⼝5000⼈の森林の町でキャリア⾃律の⽕種を灯す
                </td>
            </tr>
            <tr>
                <th>参加対象者</th>
                <td>
                    <span class="asterisk">・企業・団体にお勤めの⽅</span>
                    <span class="asterisk">・林業や地域の公教育のリアルな現場に接したい⽅</span>
                    <span class="asterisk">・⾃分の貢献できる地域を探している⽅</span>
                    <span class="asterisk">・⾃⼰を⾒つめ、キャリアについて考えたい⽅</span>
                </td>
            </tr>
            <tr>
                <th>場所</th>
                <td>岩手県気仙郡住田町内</td>
            </tr>
            <tr>
                <th>実施時期</th>
                <td>
                    2023年6⽉28⽇ 16時〜18時 <br class="nobr-pc">オンライン事前研修<br><br class="nobr-pc">
                    2023年7⽉5⽇〜8⽇ <br class="nobr-pc">3泊4⽇現地研修<br><br class="nobr-pc">
                    2023年7⽉19⽇ 16時〜18時 <br class="nobr-pc">オンライン事後研修
                </td>
            </tr>
            <tr>
                <th>研修費<br>旅費</th>
                <td>
                    198,000円（税込）<br>（※旅費・域内移動費、宿泊費・⾷事代・保険料は別途）
                </td>
            </tr>
        </table>
    </div>
</section>
