<section id="apply" class="o-section o-section--green o-illust s-apply">
    <img class="o-illust__deer o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            実施概要・申し込み方法
            <span>APPLY</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>定員</th>
                <td>
                    <span class="accent">15名　最低催⾏：4⼈</span>
                </td>
            </tr>
            <tr>
                <th>日程</th>
                <td>
                    2023年6⽉28⽇16時〜18時 オンライン事前研修<br>
                    2023年7⽉5⽇〜8⽇3泊4⽇ 現地研修<br>
                    <span class="accent">2023年7⽉19⽇16時〜18時 オンライン事後研修</span>
                </td>
            </tr>
            <tr>
                <th>料金</th>
                <td>
                    研修費：198,000円（税込）<br>
                    旅費：00,000円<br>
                    （域内移動費、宿泊費・⾷事代・保険料は別途）<br>
                    <span class="asterisk">・料⾦内に含まれるものは、プログラム参加費(教材等込)となります。</span>
                    <span class="asterisk">・東北新幹線「⽔沢江刺駅」までの往復移動費は、各⾃ご負担となります。</span>
                    <span class="asterisk">・期間中の宿泊費・域内移動費・⾷事代、保険等は、別途負担となります。</span>
                </td>
            </tr>
            <tr>
                <th>応募締切</th>
                <td>
                    <span class="accent">募集締め切りは6⽉14⽇（⽔）です。</span>
                </td>
            </tr>
            <tr>
                <th>お申し込み</th>
                <td>
                    <span class="accent">エクセルの申込書に記入いただき、メールにてご提出ください</span><br>
                    <a class="linkButton" href="#" target="_blank">申込書ダウンロード（エクセル）</a>
                    <div class="o-table__contact">
                        <div class="title">申込書を提出する</div>
                        <a href="mailto:e.tokusanai@michinoritravel-tohoku.jp" target="_blank">e.tokusanai@michinoritravel-tohoku.jp</a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="s-apply__contact js-fadein">
            <h3>お問い合わせ先</h3>
            <h4>おとりもち</h4>
            <div class="link">
                Mail <a href="mailto:otorimochi64@gmail.com?subject=お問い合わせ&amp;body=ご記入ください">otorimochi64@gmail.com</a>
            </div>
        </div>
        <div class="s-apply__plan js-fadein">
            <h3>旅行企画・実施</h3>
            <div class="title">日本能率協会マネジメントセンター<br class="nobr-pc">越境ラーニング事業部</div>
            <div class="container">
                <div class="block">
                    <h4>＜ラーニングワーケーションサイト＞</h4>
                    <a class="site" href="https://hatarakikata.design/" target="_blank">サイトへ</a>
                </div>
                <div class="block">
                    <h4>＜Webサイトからのお問い合せ＞</h4>
                    <a class="web" href="https://hatarakikata.design/global_contact/" target="_blank">お問い合わせ</a>
                </div>
                <div class="block">
                    <h4>＜メールでのお問い合せ＞</h4>
                    <a class="mail" href="mailto:workation&#64;jmam.co.jp?subject=ラーニングワーケーション＠岩⼿－住⽥町について" target="_blank">お問い合わせ</a>
                </div>
            </div>
            <p class="caution">※外部サイトにつながります。</p>
        </div>
    </div>
</section>
