<section id="apply" class="o-section o-section--green o-illust s-apply">
    <img class="o-illust__deer o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            実施概要・申し込み方法
            <span>APPLY</span>
        </h2>
        <table class="o-table js-fadein">
            <tr>
                <th>ご案内</th>
                <td>
                    本越境学習プログラムは、日本能率協会マネジメントセンター（以下JMAM）が研修プログラムの企画・実施を行い、地域へ訪問するという性質上不可欠となる、旅行事業の開催・実施を旅行会社が行っております。<br>
                    同時開催とはなりますが、別プログラムとなる為、研修プログラムへのご参加お申込・契約締結はJMAMと、旅行へのお申込・契約は旅行会社へいただきます。（契約先・お支払先が2か所となります）
                </td>
            </tr>
            <tr>
                <th>定員</th>
                <td>
                    <span class="accent">15名　最低催⾏：4⼈</span>
                </td>
            </tr>
            <tr>
                <th>日程</th>
                <td>
                    2023年6⽉28⽇16時〜18時 オンライン事前研修<br>
                    2023年7⽉5⽇〜8⽇3泊4⽇ 現地研修<br>
                    2023年7⽉19⽇16時〜18時 オンライン事後研修
                </td>
            </tr>
            <tr>
                <th>研修プログラム参加費</th>
                <td>
                    198,000円（税込）<br>
                    [研修プログラム参加費に含まれるもの]<br>
                    <span class="asterisk">・開催されるオンライン/現地プログラムへの参加</span>
                    <span class="asterisk">・教材（テキスト、レポート、学習の手引き、受講インフォメーション等）の送付</span>
                    <span class="asterisk">・ＪＭＡＭから提供するコミュニケーションツールの利用</span>
                    <span class="asterisk">・事務局への質問、参加に掛かる調整</span>
                    <span class="asterisk">※宿泊費、域内交通費等を含む旅行代金は含まれません。旅行のお申込は旅行会社へお願いいたします。</span>
                    <span class="asterisk">※集合場所までの交通は各自お手配ください。</span>
                </td>
            </tr>
            <tr>
                <th>応募締切</th>
                <td>
                    <span class="accent">募集締め切りは6⽉14⽇（⽔）です。</span>
                </td>
            </tr>
            <tr>
                <th>研修プログラム<br>お申し込み・お問い合わせ先</th>
                <td>
                    <span class="title">日本能率協会マネジメントセンター株式会社</span><br>
                    越境ラーニング事業部<br>
                    担当：山口<br>
                    メール：<a href="mailto:workation@jmam.co.jp?subject=ラーニングワーケーションin住田町2023に関するお問い合わせ" target="_blank">workation@jmam.co.jp</a><br>
                    お問い合わせフォーム：<a href="https://hatarakikata.design/global_contact/" target="_blank">https://hatarakikata.design/global_contact/</a><br>
                    担当より、お手続き方法について、ご連絡いたします。
                </td>
            </tr>
            <tr>
                <th>旅行<br>お申し込み・お問い合わせ</th>
                <td>
                    <span class="title">株式会社みちのりトラベル東北</span><br>
                    ■旅行の募集書面<br>
                    <a class="linkButton" href="./pdf/Recruitment_document_sumita_there202307_michinoritravel_tohoku.pdf" target="_blank">PDFを開く</a><br>
                    ■お問い合わせ<br>
                    メール：<a href="mailto:e.tokusanai@michinoritravel-tohoku.jp?subject=ラーニングワーケーションin住田町2023に関するお問い合わせ" target="_blank">e.tokusanai@michinoritravel-tohoku.jp</a><br>
                    担当：戸草内<br>
                    担当より、お手続き方法について、ご連絡いたします。
                </td>
            </tr>
        </table>
    </div>
</section>
