<section id="hub" class="o-section o-section--cream s-hub">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            拠点
            <span>HUB</span>
        </h2>
        <div class="s-hub__block js-fadein">
            <h3 class="o-subtitle">仕事場所</h3>
            <div class="o-shadow s-hub__flex s-hub__flex--reverse">
                <div class="left">
                    <img src="<%= ROOT %>/img/hub/image02.png" alt="仕事場所">
                </div>
                <div class="right">
                    <h4>まち家世田米駅</h4>
                    <p>
                        明治時代からある蔵を有する、古民家を改修した住民交流拠点施設です。<br>
                        全館FreeWi-Fiが完備されていて、1杯150円〜コーヒー等を飲むことが出来ます。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
