<section id="jmam" class="o-section o-section--cream s-jmam">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            About JMAM <br>Learning Workation
            <span>JMAM</span>
        </h2>
        <h3 class="s-jmam__logo js-fadein">
            <img src="<%= ROOT %>/img/jmam/logo.png" alt="here there 生きるを学ぶ、メンバーシップ。">
        </h3>
        <div class="s-jmam__title js-fadein">
            <div class="top">Learning Workationで<br class="nobr-pc">イノベーションを推進する</div>
            <div class="bottom">固定観念や暗黙の前提から脱し、<br class="nobr-pc">⾃ら問いを⽴てる⼒を養う環境づくり</div>
        </div>
        <div class="s-jmam__flex s-jmam__flex--01 js-fadein">
            <div class="left">
                <p>⾃分の専⾨領域で、お互いによく知った同僚などと仕事をする“ホーム”から、専⾨領域も価値観も異なる⼈たちがいる“アウェイ”に出ることで、刺激を受けやすい状態を「⾃発的に」つくり出すのが越境学習です。</p>
                <p>「越境学習」により、⽇常⽣活では経験できない、異質な知との出会いと、深い気づきを促します。さまざまな価値観と交わる「知の探索」により、忙しい毎⽇に眠っていた⼈の可能性を呼び起こします。</p>
            </div>
            <div class="right">
                <img src="<%= ROOT %>/img/jmam/image01.png" alt="image">
                <div class="flex">
                    <div class="mini-left">
                        <div class="subtitle">HOME</div>
                        <p>
                            都市<br>
                            所属組織<br>
                            ⾃業務・業界<br>
                            共通の価値観
                        </p>
                    </div>
                    <div class="mini-right">
                        <div class="subtitle">AWAY</div>
                            <p>
                            地域<br>
                            異業種<br>
                            複業・兼業<br>
                            多様な価値観
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-jmam__effect js-fadein">
            <div class="title">【越境学習の効果】</div>
            <p>・現在のビジネスや業務の進め⽅を常に内省し、新しい在り⽅を求めて変化し続ける</p>
            <p>・何を当たり前としてとらえていたのかに気付く、価値観そのものを問い直す契機になる</p>
        </div>
        <div class="s-jmam__goal js-fadein">
            <div class="top">
                <div class="images">
                    <img class="image01" src="<%= ROOT %>/img/jmam/image02.png" alt="image">
                    <img class="image02" src="<%= ROOT %>/img/jmam/image03.png" alt="image">
                </div>
                <p>都市の人口集中化を見据えたまちづくりが目標</p>
            </div>
            <p class="bottom">JMAMは、地⽅創⽣のために、地域と都市の関係⼈⼝の創出にむけ、企業⼈材と地域⼈材との交流を促進し、双⽅の課題の同時解決に貢献する取組を進めています。</p>
        </div>
    </div>
</section>
