<section id="overview" class="o-section o-section--cream s-overview">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            ツアーの概要
            <span>OVERVIEW</span>
        </h2>
        <div class="s-overview__block">
            <h3 class="o-subtitle js-fadein">コンセプト</h3>
            <p class="c-top__common-text js-fadein">
                森林に囲まれた⼈⼝5000⼈の町で、地域の⼈々との<span>「つながり」</span>によって“役にたっている”という実感が⽣まれ、⾃分の<span>「存在意義」</span>を再発⾒し、ビジネスパーソンとして歩んでいく<span>「⼈⽣の⽕種」</span>が灯る。
            </p>
        </div>
        <div class="s-overview__block">
            <h3 class="o-subtitle js-fadein">対象者のイメージ</h3>
            <p class="c-top__common-text js-fadein">
                以下の考えをお持ちの若手社員のみなさま。また、若手社員を支援したいみなさま。
                <span class="asterisk mt05">・入社後数年経過、ある程度は仕事をこなせるようになってきたけどこのままでいいのか？</span>
                <span class="asterisk">・このまま何も変わらず漠然と働いていくだけで大丈夫なのか？</span>
                <span class="asterisk">・もっと自分は何かやれるんじゃないか？</span>
                <span class="asterisk">・一見、仕事と関係のないように見える体験を通じて、「繋がっている何か」を体感したい</span>
            </p>
        </div>
        <div class="s-overview__block">
            <h3 class="o-subtitle js-fadein">アプローチ</h3>
            <p class="c-top__common-text js-fadein">
                決して恵まれているとは⾔えない環境の中で、地域住⺠同⼠の⼤切にしている交流や、⽇々をていねいに暮らす営みを体験し、「つながることの⼤切さ」を実感する。<br>
                また、東⽇本⼤震災のときに、都市部からボランティアで来訪した⽅を受け⼊れ、⼀⼈ひとりの「できること」を⽣かしながら町づくりをしてきた中で、今度は参加者が地域住⺠に「できること」を共有することで、「存在意義」を育む。
            </p>
        </div>
    </div>
</section>
