<section id="overall" class="o-section o-section--cream s-overall">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            ツアーの全体像
            <span>OVERALL</span>
        </h2>
        <div class="s-overall__flex js-fadein">
            <div class="box box--left">
                <h4>事前の学び</h4>
                <div class="period period--01">2023年6月28日</div>
                <ul class="s-overall__list">
                    <li class="s-overall__item">
                        オンライン事前研修
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--center">
                <h4>住田町での学び</h4>
                <div class="period period--02">2023年7月5日～8日</div>
                <ul class="s-overall__list">
                    <li class="s-overall__item">
                        <span class="bold">1日目<span class="green">【つながり】</span></span>
                        <table>
                            <tr>
                                <th>　12:30</th>
                                <td>集合@⽔沢江刺駅</td>
                            </tr>
                            <tr>
                                <th>　13:30</th>
                                <td>
                                    住田町着＠まちや世田米駅
                                    <ul>
                                        <li>・自己紹介</li>
                                        <li>・住田町を知る</li>
                                        <li>・プログラム紹介</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>　14:45</th>
                                <td>移動</td>
                            </tr>
                            <tr>
                                <th>　15:00</th>
                                <td>
                                    移動＠大股地区公民館
                                    <ul>
                                        <li>・震災を知る</li>
                                        <li>・震災と住田</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>　15:30</th>
                                <td>
                                    移動＠イコウェルすみた
                                </td>
                            </tr>
                            <tr>
                                <th>　16:30</th>
                                <td>
                                    トークセッション
                                    <ul>
                                        <li>・キャリア自律</li>
                                        <li>・自身の想い</li>
                                        <li>・軸等、これらを大切にし、丁寧に働いている人たちの話をざっくばらんに聞く</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>　18:00</th>
                                <td>
                                    交流会
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="s-overall__item">
                        <span class="bold">2日目<span class="green">【存在意義を感じる】</span></span>
                        <table>
                            <tr>
                                <th>〜09:30</th>
                                <td>テレワーク</td>
                            </tr>
                            <tr>
                                <th>　10:00</th>
                                <td>山林見学＠吉田樹苗</td>
                            </tr>
                            <tr>
                                <th>　11:30</th>
                                <td>移動</td>
                            </tr>
                            <tr>
                                <th>　12:00</th>
                                <td>昼食</td>
                            </tr>
                            <tr>
                                <th>　13:00</th>
                                <td>トークセッション／吉田樹苗　吉田 正平さん</td>
                            </tr>
                            <tr>
                                <th>　14:30</th>
                                <td>
                                    住高コーディネーターによる、住田高校事前情報収集時間<br>
                                    地方学生が抱える課題　なぜ「出前講座」をしてもらうのか、改めて説明
                                </td>
                            </tr>
                            <tr>
                                <th>　15:30</th>
                                <td>出前授業準備</td>
                            </tr>
                            <tr>
                                <th>　18:00</th>
                                <td>交流会</td>
                            </tr>
                        </table>
                    </li>
                    <li class="s-overall__item">
                        <span class="bold">3日目<span class="green">【⼈⽣の⽕種を灯す】</span></span>
                        <table>
                            <tr>
                                <th>〜09:30</th>
                                <td>テレワーク</td>
                            </tr>
                            <tr>
                                <th>　09:30</th>
                                <td>最後の打ち合わせ</td>
                            </tr>
                            <tr>
                                <th>　10:30</th>
                                <td>移動</td>
                            </tr>
                            <tr>
                                <th>　11:00</th>
                                <td>
                                    出前授業／キャリア教育＠住田高校<br>
                                    住高ハウス〇〇での子どもたちとの触れ合い
                                </td>
                            </tr>
                            <tr>
                                <th>　12:30</th>
                                <td>移動</td>
                            </tr>
                            <tr>
                                <th>　14:30</th>
                                <td>蕎麦打ち・昼食</td>
                            </tr>
                            <tr>
                                <th>　15:00</th>
                                <td>松日橋</td>
                            </tr>
                            <tr>
                                <th>　16:00</th>
                                <td>商店街散策・移動</td>
                            </tr>
                            <tr>
                                <th>　17:00</th>
                                <td>振り返り（焚き火・BBQ）</td>
                            </tr>
                        </table>
                    </li>
                    <li class="s-overall__item">
                        <span class="bold">4日目 ＊オプション⽇程なので3⽇⽬で切り上げ可能</span>
                        <table>
                            <tr>
                                <th>〜10:00</th>
                                <td>テレワーク</td>
                            </tr>
                            <tr>
                                <th>　11:30</th>
                                <td>
                                    移動@種山<br>
                                    散策<br>
                                    「道の駅 ぽらん」で昼食
                                </td>
                            </tr>
                            <tr>
                                <th>　13:30</th>
                                <td>
                                    移動@水沢江刺駅<br>
                                    解散
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--right">
                <h4>事後の学び</h4>
                <div class="period period--03">2023年7月19日</div>
                <ul class="s-overall__list">
                    <li class="s-overall__item">
                        オンライン事後研修
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
