<section id="program" class="o-section o-section--cream s-program">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            越境学習「地域資源学習型」<br class="nobr-pc">プログラムご紹介
            <span>PROGRAM</span>
        </h2>
        <div class="s-program__main js-fadein">
            <h3>人口5000人の森林の町で<br class="nobr-pc">キャリア自律の<span>火種</span>を灯す</h3>
            <div class="flex">
                <div class="recommend js-fadein">
                    <h4 class="title">こんな方におすすめ</h4>
                    <p>・林業や地域の公教育のリアルな現場に接したい方</p>
                    <p>・自分の貢献できる地域を探している方</p>
                    <p>・自己を見つめ、キャリアについて考えたい方</p>
                </div>
                <div class="text js-fadein">
                    <h4>小さな町のつながりの中で、<br class="nobr-pc">自らの存在意義を考える</h4>
                    <p>
                        林業に⽣きる⼈⼝約5000⼈の町、住⽥町。⼩さい町だからこそ得られる地域の⼈々との「<span>つながり</span>」を通して社会との「つながり」も感じるプログラム。フィールドワークや地元⾼校⽣との交流から、⾃分の「<span>存在意義</span>」を再発⾒し、キャリアを考えるための「<span>人生の火種</span>」が灯る時間をつくります。
                    </p>
                </div>
            </div>
        </div>
        <div class="s-program__table js-fadein">
            <p>
                <span>事前：6/29</span>(16:00〜18:00)⇒<br class="nobr-pc"><span>現地：7/5～8⇒事後：7/27</span>(16:00〜18:00)
            </p>
            <div class="sp-overflow js-scroll-hint">
                <table class="o-table o-table--cream js-fadein">
                    <tr>
                        <th>
                            <span class="bold">DAY1(7/5)</span><br>
                            「つながる」
                        </th>
                        <th>
                            <span class="bold">DAY2(7/6)</span><br>
                            「存在意義を感じる」
                        </th>
                        <th>
                            <span class="bold">DAY3(7/7)</span><br>
                            「人生の火種を灯す」
                        </th>
                        <th>
                            <span class="bold">DAY4(7/8）</span><br>
                            「人生の火種を灯す」
                        </th>
                    </tr>
                    <tr>
                        <td>
                            水沢江刺駅集合
                        </td>
                        <td rowspan="2">
                            【まちや世田米駅】<br>
                            テレワーク<br><br>
                            【吉⽥樹苗】<br>
                            ⼭林視察<br><br>
                            林業家吉⽥⽒の講演<br><br>
                            【下有住地区公⺠館】<br>
                            ⾦野館⻑講演<br><br>
                            【出前授業】<br>
                            出前授業準備
                        </td>
                        <td rowspan="2">
                            【まちや世田米駅】<br>
                            テレワーク<br><br>
                            【住田高】<br>
                            出前授業・対話<br><br>
                            【そば打ち体験】<br><br>
                            【ふりかえり】
                        </td>
                        <td>
                            【まちや世田米駅】<br>
                            テレワーク<br><br>
                            解散
                        </td>
                    </tr>
                    <tr>
                        <td>
                            陸前高田<br>
                            津波伝承館<br><br>
                            住田町を知る<br>
                            震災時の対応<br>
                            仮設住宅視察
                        </td>
                        <td rowspan="2">
                            水沢江刺駅<br>
                            解散
                        </td>
                    </tr>
                    <tr>
                        <td class="green">地域の方との交流会</td>
                        <td class="green"></td>
                        <td class="green">交流会</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="s-program__images js-fadein"></div>
        <div class="s-program__iframe js-fadein">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4KNs3hABKPE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
