.c-top {
    @media #{$media-smp} {
    }
    // common
    &__common-text {
        margin-top: 20px;
        @media #{$media-smp} {
            margin-top: 15px;
        }
        a {
            color: $color-red;
        }
        span {
            color: $color-red;
            &.asterisk {
                color: $color-black;
                display: block;
                padding-left: 1em;
                text-indent: -1em;
            }
        }
    }
    &__common-image {
        text-align: center;
    }
    h4 {
        margin-top: 30px;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: $font-mideum;
        display: flex;
        align-items: center;
        @media #{$media-tablet} {
            font-size: 1.6rem;
            margin-top: 15px;
        }
        &::before,&::after {
            content: "";
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-green;
            @media #{$media-tablet} {
                width: 20px;
            }
        }
        &::before {
            margin-right: 10px;
        }
        &::after {
            margin-left: 10px;
        }
    }
    // メイン
    &__main-area {
        position: relative;
    }
    &__main-copy {
        height: 573px;
        position: absolute;
        width: 100%;
        z-index: 99;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media #{$media-smp} {
            height: 300px;
        }
    }
    &__main {
        font-size: 3.6rem;
        font-weight: $font-bold;
        text-align: center;
        color: $color-white;
        text-shadow:0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown,0 0 3px $color-brown;
        filter: drop-shadow(2px 2px 9px $color-brown);
        margin-top: 150px;
        letter-spacing: 2px;
        @media #{$media-smp} {
            font-size: 2.2rem;
            margin-top: 70px;
            text-shadow:0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown,0 0 1px $color-brown;
        filter: drop-shadow(2px 2px 9px $color-brown);
        }
        @media screen and (max-width: 374px) {
            font-size: 2.0rem;
        }
        span {
            font-size: 3.2rem;
            @media #{$media-smp} {
                font-size: 1.8rem;
            }
            &.green {
                color: $color-green;
                font-size: 3.6rem;
                text-shadow:0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white,0 0 3px $color-white;
                filter: drop-shadow(2px 2px 9px $color-brown);
                @media #{$media-smp} {
                    font-size: 2.2rem;
                    text-shadow:0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white,0 0 1px $color-white;
                }
                @media screen and (max-width: 374px) {
                    font-size: 1.8rem;
                }
            }
        }
    }
    &__sub {
        line-height: 1.2;
        font-size: 2.8rem;
        font-weight: $font-mideum;
        text-align: center;
        color: $color-white;
        text-shadow:0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black,0 0 3px $color-black;
        filter: drop-shadow(2px 2px 9px $color-black);
        margin-top: 150px;
        @media #{$media-smp} {
            font-size: 2.0rem;
            margin-top: 70px;
            text-shadow:0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black,0 0 2px $color-black;
        }
        @media screen and (max-width: 374px) {
            font-size: 1.8rem;
        }
    }
    &__scroll {
        color: $color-white;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 60px;
        @media #{$media-smp} {
            margin-top: 25px;
            font-size: 1.0rem;
        }
        .line {
            height: 50px;
            width: 2px;
            margin: 5px auto 0;
            background-color: rgba($color: $color-white, $alpha: .8);
            animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
            @keyframes sdl {
                0% {
                    transform: scale(1, 0);
                    transform-origin: 0 0;
                }
                50% {
                    transform: scale(1, 1);
                    transform-origin: 0 0;
                }
                50.1% {
                    transform: scale(1, 1);
                    transform-origin: 0 100%;
                }
                100% {
                    transform: scale(1, 0);
                    transform-origin: 0 100%;
                }
            }
            @media #{$media-smp} {
                height: 25px;
            }
        }
    }
    // バナー
    &__banner {
        padding: 75px 0 150px;
        @media #{$media-smp} {
            padding: 50px 0 100px;
        }
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$media-smp} {
                flex-direction: column;
            }
            a {
                display: block;
                width: 24%;
                text-align: center;
                @media #{$media-smp} {
                    max-width: 230px;
                    width: 100%;
                    &+a {
                        margin-top: 15px;
                    }
                }
                &.pointer-none {
                    pointer-events: none;
                }
            }
        }
    }
    // モニター開催地について
    &__venue {
        &-flex {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$media-smp} {
                margin-top: 15px;
            }
            ul {
                width: 66%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                @media #{$media-smp} {
                    width: 48%;
                }
                li {
                    width: 49%;
                    margin-bottom: 15px;
                    @media #{$media-smp} {
                        width: 100%;
                        margin-bottom: 0;
                        &+li {
                            margin-top: 10px;
                        }
                    }
                }
            }
            .image {
                width: 30%;
                @media #{$media-smp} {
                    width: 48%;
                }
            }
        }
        &-access {
            margin-top: 30px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media #{$media-smp} {
                margin-top: 15px;
                flex-direction: column;
            }
            .box {
                width: 17%;
                height: 65px;
                border-radius: 5px;
                border: 2px solid $color-green;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                @media #{$media-smp} {
                    font-size: 1.6rem;
                    width: 100%;
                    height: 50px;
                }
            }
            p {
                position: relative;
                top: 30px;
                text-align: center;
                width: 24.5%;
                border-top: 2px solid $color-green;
                @media #{$media-smp} {
                    width: 100%;
                    border-top: none;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.4rem;
                    &::before,&::after {
                        content: "";
                        display: block;
                        width: 2px;
                        height: 20px;
                        background-color: $color-green;
                    }
                }
            }
        }
    }
    // 「森林・林業日本一の町づくり」住田町
    &__sumita {
        &-block {
            &+.c-top__sumita-block {
                margin-top: 50px;
                @media #{$media-smp} {
                    margin-top: 30px;
                }
            }
        }
        &-flex {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media #{$media-smp} {
                flex-direction: column;
            }
            .box {
                width: 31%;
                @media #{$media-smp} {
                    width: 100%;
                    &+.box {
                        margin-top: 30px;
                    }
                }
                .image {
                    text-align: center;
                }
                p {
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
    // 学べること・得られること
    &__learning {
    }
    // モニターツアーの概要
    &__overview {
        position: relative;
        padding-bottom: 150px;
        &-block {
            &+.c-top__overview-block {
                margin-top: 50px;
                @media #{$media-smp} {
                    margin-top: 30px;
                }
            }
        }
    }
    // モニターツアーの全体像
    &__overall {
        &-flex {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media #{$media-smp} {
                flex-direction: column;
                align-items: center;
            }
            .box {
                @media #{$media-smp} {
                    max-width: 400px;
                }
                &--left {
                    width: 20%;
                    @media #{$media-tablet} {
                        width: 20%;
                    }
                    @media #{$media-smp} {
                        width: 100%;
                    }
                }
                &--center {
                    width: 40%;
                    @media #{$media-smp} {
                        width: 100%;
                        margin-top: 30px;
                    }
                }
                &--right {
                    width: 20%;
                    @media #{$media-tablet} {
                        width: 20%;
                    }
                    @media #{$media-smp} {
                        width: 100%;
                        margin-top: 30px;
                    }
                }
                h4 {
                    justify-content: center;
                }
                .period {
                    margin: 25px auto 0;
                    background-color: $color-green;
                    border-radius: 5px;
                    color: $color-white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    padding: 10px 15px;
                    font-weight: $font-mideum;
                    @media #{$media-smp} {
                        margin-top: 15px;
                    }
                }
                ul {
                    margin-top: 15px;
                    @media #{$media-smp} {
                        margin-top: 15px;
                    }
                    li {
                        font-size: 1.4rem;
                        border: 2px solid $color-green;
                        border-radius: 5px;
                        padding: 10px 15px;
                        &+li {
                            margin-top: 15px;
                        }
                        p {
                            padding-left: 3em;
                            text-indent: -3em;
                        }
                        span {
                            &.bold {
                                font-weight: $font-bold;
                            }
                            &.red {
                                color: $color-red;
                            }
                            &.green {
                                color: $color-green;
                            }
                        }
                        &.asterisk {
                            border: none;
                            padding-left: 1em;
                            text-indent: -1em;
                        }
                        table {
                            th {
                                font-weight: $font-mideum;
                                vertical-align: top;
                                width: 70px;
                                padding-top: 10px;
                            }
                            td {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
            .arrow {
                position: relative;
                top: 20px;
                width: 40px;
                height: 40px;
                border-top: 5px solid $color-green;
                border-right: 5px solid $color-green;
                transform: rotate(45deg);
                @media #{$media-tablet} {
                    width: 25px;
                    height: 25px;
                    top: 10px;
                }
                @media #{$media-smp} {
                    transform: rotate(135deg);
                    margin-top: 10px;
                }
            }
        }
    }
    // 事前/事後研修の内容
    &__contents {
        position: relative;
        &-block {
            &+.c-top__contents-block {
                margin-top: 70px;
                @media #{$media-smp} {
                    margin-top: 45px;
                }
            }
            .o-subtitle {
                margin-bottom: 30px;
                @media #{$media-smp} {
                    margin-bottom: 15px;
                }
            }
        }
    }
    // 学びの場所
    &__place {
        &-block {
            &+.c-top__place-block {
                margin-top: 70px;
                @media #{$media-smp} {
                    margin-top: 40px;
                }
            }
            .images {
                display: flex;
                align-items: center;
                justify-content: space-between;
                img {
                    width: 49%;
                }
            }
            .explanation {
                margin-top: 30px;
                @media #{$media-smp} {
                    margin-top: 20px;
                }
            }
        }
    }
    // サポートメンバー／ナビゲーター
    &__member {
        &-inner {
            position: relative;
            max-width: 850px;
            margin: 0 auto;
            .hukidashi {
                text-align: center;
                @media #{$media-smp} {
                }
                &--01 {
                    margin-top: 50px;
                    @media #{$media-smp} {
                        margin-top: 30px;
                    }
                }
                &--02 {
                    // margin-top: 20px;
                }
            }
        }
        &-navigator {
            &+.c-top__member-navigator {
                margin-top: 80px;
                @media #{$media-smp} {
                    margin-top: 30px;
                }
            }
            .block {
                margin-top: 30px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                &::after {
                    content: "";
                    display: block;
                    width: 31%;
                    @media #{$media-smp} {
                        content: none;
                    }
                }
            }
            .box {
                width: 31%;
                margin-bottom: 50px;
                display: flex;flex-direction: column;
                @media #{$media-smp} {
                    width: 48%;
                    margin-bottom: 30px;
                }
                .affiliation {
                    line-height: 1;
                    font-weight: $font-mideum;
                    margin-top: 10px;
                    @media #{$media-smp} {
                        margin-top: 5px;
                    }
                }
                h3 {
                    line-height: 1;
                    font-size: 2.2rem;
                    font-weight: $font-bold;
                    margin-top: 15px;
                    @media #{$media-smp} {
                        font-size: 2.0rem;
                        margin-top: 10px;
                    }
                }
                p {
                    margin-top: 10px;
                    font-size: 1.4rem;
                    @media #{$media-smp} {
                    }
                }
            }
        }
    }
    // 拠点
    &__hub {
        position: relative;
        &-block {
            &+.c-top__hub-block {
                margin-top: 70px;
                @media #{$media-smp} {
                    margin-top: 45px;
                }
            }
            .o-subtitle {
                margin-bottom: 30px;
                @media #{$media-smp} {
                    margin-bottom: 15px;
                }
            }
        }
        &-flex {
            display: flex;
            background-color: $color-white;
            @media #{$media-smp} {
                flex-direction: column;
                max-width: 600px;
                margin: 0 auto;
                font-size: 1.4rem;
            }
            .left {
                width: 60%;
                @media #{$media-smp} {
                    width: 100%;
                }
            }
            .right {
                width: 40%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media #{$media-smp} {
                    width: 100%;
                }
                h4 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                p {
                    &+p {
                        margin-top: 1em;
                    }
                }
            }
            &--reverse {
                flex-direction: row-reverse;
                @media #{$media-smp} {
                    flex-direction: column;
                }
                .left {
                    width: 60%;
                    @media #{$media-smp} {
                        width: 100%;
                    }
                }
                .right {
                    width: 40%;
                    @media #{$media-smp} {
                        width: 100%;
                    }
                }
            }
        }
    }
    // About JMAM Learning Workation
    &__jmam {
        &-logo {
            text-align: center;
        }
        &-title {
            margin-top: 40px;
            @media #{$media-smp} {
                margin-top: 20px;
            }
            .top {
                text-align: center;
                font-size: 2.4rem;
                font-weight: $font-bold;
                background-color: $color-green;
                color: $color-cream;
                border-radius: 10px;
                @media #{$media-smp} {
                    font-size: 2.0rem;
                }
            }
            .bottom {
                text-align: center;
                font-size: 2.0rem;
                font-weight: $font-mideum;
                margin-top: 15px;
                @media #{$media-smp} {
                    font-size: 1.8rem;
                }
            }
        }
        &-flex {
            margin-top: 70px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media #{$media-smp} {
                margin-top: 40px;
                flex-direction: column;
            }
            .left {
                width: 48%;
                @media #{$media-smp} {
                    width: 100%;
                }
                p+p {
                    margin-top: 1em;
                }
            }
            .right {
                width: 48%;
                @media #{$media-smp} {
                    width: 100%;
                    margin-top: 20px;
                }
            }
            &--01 {
                .right {
                    .flex {
                        margin-top: 20px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        .mini-left {
                            width: 40%;
                            text-align: center;
                        }
                        .mini-right {
                            width: 40%;
                            text-align: center;
                        }
                        .subtitle {
                            text-align: center;
                            background-color: $color-green;
                            color: $color-cream;
                            border-radius: 20px;
                            padding: 5px 10px;
                            font-weight: $font-mideum;
                        }
                        p {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        &-effect {
            margin-top: 40px;
            border: 3px solid $color-green;
            border-radius: 3px;
            padding: 15px;
            @media #{$media-smp} {
                margin-top: 20px;
                padding: 10px;
            }
            .title {
                line-height: 1;
                font-size: 2.0rem;
                font-weight: $font-bold;
                margin-bottom: 10px;
            }
            p {
                padding-left: 1em;
                text-indent: -1em;
            }
        }
        &-goal {
            max-width: 550px;
            margin: 60px auto 0;
            @media #{$media-smp} {
                margin-top: 40px;
            }
            .top {
                display: flex;
                align-items: center;
                justify-content: center;
                @media #{$media-smp} {
                    flex-direction: column;
                }
                .images {
                    display: flex;
                    .image01 {
                        max-width: 200px;
                    }
                    .image02 {
                        max-width: 125px;
                    }
                }
                p {
                    padding-left: 10px;
                    @media #{$media-smp} {
                        padding-left: 0;
                        margin-top: 5px;
                    }
                }
            }
            .bottom {
                margin-top: 10px;
                background-color: $color-green;
                color: $color-cream;
                font-size: 1.8rem;
                font-weight: $font-mideum;
                padding: 15px;
                border-radius: 10px;
                @media #{$media-smp} {
                    font-size: 1.6rem;
                    padding: 10px;
                }
            }
        }
        &-achievement {
            margin-top: 70px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media #{$media-smp} {
                margin-top: 40px;
                flex-direction: column-reverse;
            }
            .left {
                width: 35%;
                @media #{$media-smp} {
                    width: 100%;
                    margin-top: 20px;
                }
                .block {
                    &+.block {
                        margin-top: 30px;
                    }
                    .title {
                        font-weight: $font-mideum;
                        background-color: $color-green;
                        color: $color-cream;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-size: 1.8rem;
                        @media #{$media-smp} {
                            font-size: 1.6rem;
                        }
                    }
                    p {
                        margin-top: 10px;
                    }
                }
            }
            .right {
                width: 60%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                @media #{$media-smp} {
                    width: 100%;
                }
                img {
                    margin-bottom: 20px;
                    width: 48%;
                    @media #{$media-smp} {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
