<div class="c-top__banner">
    <div class="o-inner c-top__banner-inner">
        <a href="https://iwatetabi.jp/" target="_blank">
            <img src="<%= ROOT %>/img/banner/01.png" alt="いわての旅">
        </a>
        <a href="https://www.town.sumita.iwate.jp/" target="_blank">
            <img src="<%= ROOT %>/img/banner/02.png" alt="住田町">
        </a>
        <a class="pointer-none" target="_blank">
            <img src="http://placehold.jp/24/cccccc/ffffff/200x50.png?text=おとりもち">
        </a>
        <a href="https://hatarakikata.design/" target="_blank">
            <img src="<%= ROOT %>/img/banner/04.png" alt="JMAM">
        </a>
    </div>
</div>
