<div class="c-top__banner">
    <div class="o-inner c-top__banner-inner">
        <a class="banner01" href="https://iwatetabi.jp/" target="_blank">
            <img src="<%= ROOT %>/img/banner/01.png" alt="いわての旅">
        </a>
        <a class="banner02" href="https://www.city.rikuzentakata.iwate.jp/" target="_blank">
            <img src="<%= ROOT %>/img/banner/02.png" alt="陸前高田市">
        </a>
        <a class="banner03" href="https://set-hirota.com/" target="_blank">
            <img src="<%= ROOT %>/img/banner/03.png" alt="NPO法人 SET">
        </a>
        <a class="banner04" href="https://hatarakikata.design/" target="_blank">
            <img src="<%= ROOT %>/img/banner/04.png" alt="JMAM">
        </a>
    </div>
</div>
