<svg class="o-wave o-wave--top" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path id="wave_top_07" d=""/>
</svg>
<footer id="footer" class="o-footer">
    <div class="o-inner o-inner--wide">
        <div class="o-footer__inner">
            <div class="logo">ラーニングワーケーションin<span>陸前高田</span></div>
            <div class="info">
                <p>
                    特定非営利活動法人SET<br>
                    岩手県陸前高田市広田町字山田52-6<br>
                    TEL/FAX　0192-47-5747
                </p>
                MAIL　<a href="mailto:set.forjapan@gmail.com?subject=お問い合わせ&amp;body=ご記入ください">set.forjapan@gmail.com</a>
            </div>
        </div>
        <address class="o-footer__copy">
            Copyright &copy; 2021 特定非営利活動法人SET. <br class="nobr-pc">All Rights Reserved.
        </address>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js" defer></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/jquery.wavify.js" defer></script>
<script src="<%= ROOT %>/js/index.js" defer></script>
