<header id="header" class="o-header">
    <div class="o-inner o-inner--wide o-header__inner">
        <h1 class="o-header__logo">
            <a href="#main">ラーニングワーケーションin<span>陸前高田</span></a>
        </h1>
        <%- include(ROOT + '/_nav') -%>
        <%- include(ROOT + '/_nav-sp') -%>
    </div>
</header>
