<div class="o-hamburger js-toggle-nav">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav id="sp-nav" class="o-nav-sp">
    <ul class="o-nav-sp__list">
        <li class="o-nav-sp__item">
            <a href="#about">事業概要</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#venue">モニターツアー開催地について</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#sumita">「森林・林業日本一の町づくり」住田町</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#overview">モニターツアーの概要</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#learning">学べること・得られること</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#overall">モニターツアーの全体像</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#contents">事前／事後研修の内容</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#place">学びの場所</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#member">サポートメンバー／ナビゲーター</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#hub">拠点</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#jmam">About JMAM Learning Workation</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#apply">申し込み方法</a>
        </li>
    </ul>
</nav>
