<div class="o-hamburger js-toggle-nav">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav id="sp-nav" class="o-nav-sp">
    <ul class="o-nav-sp__list">
        <li class="o-nav-sp__item">
            <a href="#about">事業概要</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#venue">モニターツアー開催地について</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#hirota">「人が魅力のまち」広田町</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#learning">学べること・得られること</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#support">サポートメンバー「SET」について</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#overall">モニターツアーの全体像</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#contents">事前／事後研修の内容</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#model">「MV2GROWモデル」</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#method">「SET流思考法」</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#member">サポートメンバー／ナビゲーター</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#hub">拠点</a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#apply">申し込み方法</a>
        </li>
    </ul>
    <svg class="o-wave o-wave--top" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path id="wave_nav" d=""/>
    </svg>
</nav>
