<nav id="nav" class="o-nav">
    <ul>
        <li>
            <a href="#about">事業概要</a>
        </li>
        <li>
            <a href="#venue">開催地</a>
        </li>
        <li>
            <a href="#learning">学べること</a>
        </li>
        <li>
            <a href="#overall">ツアー概要</a>
        </li>
        <li>
            <a href="#member">メンバー</a>
        </li>
        <li>
            <a href="#apply">申し込み方法</a>
        </li>
    </ul>
</nav>
