<div id="main" class="c-top__main-area">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--05"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--06"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--01"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--02"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--03"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--04"></div>
            </div>
        </div>
    </div>
    <div class="c-top__main-copy">
        <div class="c-top__main">
            ラーニングワーケーション<br>
            岩手－<span class="green">住田町</span>
        </div>
        <p class="c-top__text">
            人口5000人の<span class="green">森林の町</span>で<br class="nobr-pc">キャリア自律の<span class="red">火種</span>を灯す
        </p>
        <div class="c-top__sub">
            ＜Ver.2022ご案内＞
        </div>
        <div class="c-top__scroll">
            SCROLL
            <div class="line"></div>
        </div>
    </div>
</div>
