<div id="main" class="c-top__main-area">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--01"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--02"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--03"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--04"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--05"></div>
            </div>
        </div>
    </div>
    <div class="c-top__main-copy">
        <div class="c-top__main">
            ラーニングワーケーション<br>
            @岩手県気仙郡<span class="green">住田町</span>
        </div>
        <div class="c-top__sub">
            ＜モニターツアーのご案内＞
        </div>
        <div class="c-top__scroll">
            SCROLL
            <div class="line"></div>
        </div>
    </div>
</div>
