<div id="main" class="c-top__main-area">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--01"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--02"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--03"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--04"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image swiper-image--05"></div>
            </div>
        </div>
    </div>
    <div class="c-top__main-copy">
        <div class="c-top__main">
            漁師町<span>に</span>生<span>きる</span>人々<span>の</span><span class="blue">魅力</span><span>×</span><span class="orange">若<span>い</span>力</span>。<br>
            エンパワーメント<span>で</span>復興<span>を</span>デザイン
        </div>
        <div class="c-top__sub">
            岩手県陸前高田市の<br>
            ラーニング・ワーケーション
        </div>
        <div class="c-top__scroll">
            SCROLL
            <div class="line"></div>
        </div>
    </div>
</div>
