#loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: $color-cream;
    text-align: center;
}
#loading_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading .kvArea {
    width: 100%;
}
#loading .kvArea .img_box {
    text-align: center;
}
#loading .kvArea .img_box img {
    max-width: 100%;
    height: auto;
}
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1.2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes fadeUpAnime {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
