.o-section {
    position: relative;
    background-color: $color-white;
    padding: 100px 0;
    @media #{$media-smp} {
        padding: 50px 0;
    }
    &--blue {
        background-color: $color-blue;
    }
    &--white {
        background-color: $color-white;
    }
}
