.o-subtitle {
    font-size: 2.0rem;
    font-weight: $font-mideum;
    line-height: 1;
    display: inline-block;
    color: $color-black;
    @media #{$media-smp} {
        font-size: 1.8rem;
        line-height: 1.2;
    }
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 10px;
        background-color: $color-green;
        @media #{$media-smp} {
            height: 2px;
            margin-top: 8px;
        }
    }
    span {
        &.red {
            color: $color-red;
        }
        &.yellow {
            color: $color-yellow;
        }
        &.brown {
            color: $color-brown;
        }
    }
    &--white {
        color: $color-white;
        &::after {
            background-color: $color-white;
        }
    }
}
