.o-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;
    font-size: 1.4rem;
    @media #{$media-smp} {
        border-collapse: collapse;
    }
    th {
        color: $color-white;
        font-weight: $font-mideum;
        text-align: center;
        width: 30%;
        background-color: rgba($color: $color-brown, $alpha: .9);
        padding: 10px;
        @media #{$media-smp} {
            display: block;
            width: 100%;
            border-top: 6px solid $color-green;
        }
    }
    td {
        width: 70%;
        background-color: rgba($color: $color-white, $alpha: 1.0);
        padding: 10px;
        color: $color-black;
        letter-spacing: 1px;
        @media #{$media-smp} {
            display: block;
            width: 100%;
        }
        p+p {
            margin-top: 10px;
        }
    }
    span {
        &.bold {
            font-weight: $font-bold;
        }
        &.accent {
            color: $color-red;
            font-weight: $font-mideum;
        }
        &.asterisk {
            display: block;
            padding-left: 1em;
            text-indent: -1em;
        }
    }
    &--cream {
        th {
            @media #{$media-smp} {
                border-top: 6px solid $color-white;
            }
        }
    }
    a {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-red;
        border-radius: 30px;
        width: 200px;
        height: 50px;
        color: $color-white;
        font-weight: $font-bold;
        box-shadow: 0 3px 0 0 rgba($color: $color-black, $alpha: .3);
        &:hover {
            top: 3px;
            box-shadow: 0 0px 0 0 rgba($color: $color-black, $alpha: .3);
        }
        @media #{$media-smp} {
            margin: 0 auto;
        }
    }
}
