.o-table {
    width: 100%;
    // border-collapse: separate;
    // border-spacing: 6px;
    font-size: 1.4rem;
    @media #{$media-smp} {
        border-collapse: collapse;
    }
    th {
        color: $color-white;
        font-weight: $font-mideum;
        text-align: center;
        width: 30%;
        background-color: rgba($color: $color-brown, $alpha: .9);
        padding: 10px;
        border-bottom: 6px solid $color-green;
        border-right: 6px solid $color-green;
        @media #{$media-smp} {
            display: block;
            width: 100%;
            border-right: none;
            border-bottom: none;
        }
    }
    td {
        width: 70%;
        background-color: rgba($color: $color-white, $alpha: 1.0);
        padding: 10px;
        color: $color-black;
        letter-spacing: 1px;
        border-bottom: 6px solid $color-green;
        // border-right: 6px solid $color-green;
        @media #{$media-smp} {
            display: block;
            width: 100%;
        }
        p+p {
            margin-top: 10px;
        }
    }
    span {
        &.bold {
            font-weight: $font-bold;
        }
        &.accent {
            color: $color-red;
            font-weight: $font-mideum;
        }
        &.asterisk {
            display: block;
            padding-left: 1em;
            text-indent: -1em;
        }
    }
    &--cream {
        th {
            border-bottom: 6px solid $color-cream;
            border-right: 6px solid $color-cream;
            @media #{$media-smp} {
                border-right: none;
                border-bottom: none;
            }
        }
        td {
            border-bottom: 6px solid $color-cream;
            // border-right: 6px solid $color-cream;
        }
    }
    a {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-red;
        border-radius: 30px;
        width: 200px;
        height: 50px;
        color: $color-white;
        font-weight: $font-bold;
        box-shadow: 0 3px 0 0 rgba($color: $color-black, $alpha: .3);
        &:hover {
            top: 3px;
            box-shadow: 0 0px 0 0 rgba($color: $color-black, $alpha: .3);
        }
        @media #{$media-smp} {
            margin: 0 auto;
        }
    }
    &__contact {
        margin-top: 10px;
        .title {
            color: $color-red;
            font-weight: $font-mideum;
        }
        a {
            display: inline-block;
            background-color: inherit;
            width: auto;
            height: auto;
            color: $color-red;
            font-weight: $font-mideum;
            box-shadow: unset;
            text-decoration: underline;
            word-break: break-all;
            &:hover {
                top: auto;
                box-shadow: unset;
                color: $color-black;
            }
        }
    }
    .linkButton {
        width: 100%;
        height: auto;
        padding: 10px 5px;
        max-width: 330px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        &::before {
            content: "";
            display: inline-block;
            width: 28px;
            height: 28px;
            background-image: url(../img/apply/excel.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
    }
}
