.s-overview {
    position: relative;
    padding-bottom: 150px;
    @media #{$media-smp} {
    }
    &__block {
        &+& {
            margin-top: 50px;
            @media #{$media-smp} {
                margin-top: 30px;
            }
        }
    }
}
