%ffg {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-feature-settings : "palt";
}

%ffm {
    font-family: Yu Mincho, '游明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
}
